<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <!-- 
    [if lt IE 9]>
      <script src="/bower_components/html5shiv/dist/html5shiv.js"></script>
    <![endif] 
    -->
    
    <script src="static/js/blockly/blockly_compressed.js"></script>
    <script src="static/js/blockly/blocks_compressed.js"></script>
    <script src="static/js/blockly/javascript_compressed.js"></script>
    <script src="static/js/blockly/demos/code/msg/en.js"></script>
    <script src="static/js/blockly/msg/js/en.js"></script>

    <link rel="stylesheet" type="text/css" href="static/css/main.css">

    <title>brickbrawls prototype</title>
  </head>
  <body>
  	<section id="app">
      <header>
        <h1><router-link :to="{ name: 'home'}">brickbrawls</router-link></h1>
        <aside v-if="isAuth()" class="user-info">
          vmoney&nbsp;&nbsp;<strong>{{ user.vmoney }}</strong>
        </aside>
        <nav>
          <ul>
            <li><router-link v-if="isAuth()" :to="{ name: 'profile' }">Profile</router-link></li>
            <li><router-link v-if="isAuth()" :to="{ name: 'blocks' }">Blocks</router-link></li>
            <li><router-link v-if="isAuth()" :to="{ name: 'brawl' }">Find a brawl</router-link></li>
            <li><router-link v-if="isAuth()" :to="{ name: 'store' }">Store</router-link></li>
            <li><router-link v-if="!isAuth()" :to="{ name: 'signin'}">Signin</router-link></li>
            <li><router-link v-if="!isAuth()" :to="{ name: 'signup'}">Signup</router-link></li>
            <li><router-link v-if="isAuth()" :to="{ name: 'signout'}">Signout</router-link></li>
          </ul>
        </nav>
      </header>

      <!-- Views will be load here -->
      <transition>
        <router-view></router-view>
      </transition>

      <footer></footer>  
    </section>

    <!-- built files will be auto injected -->
  </body>
</html>
