/*
$green: 28ac63;
*/

/**
 *
 * Soft reset
 *
 */
*, *:before, *:after {
	box-sizing: border-box;
}

/* html5 blocks */
section, main, aside, nav, video {
	display: block;
}

/* Remove margin and padding */
body, div, section, aside, nav, video, ul, ol, li, table, td, tr, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

/**
 *
 * Basic stuff
 *
 */
body, html {
	font-size: 100%;
}
body {
	font-family: 'arial', 'helvetica', 'sans-serif';
}

h1 {
	font-size: 3rem;
	margin: 1rem 0;
}
h2 {
	font-size: 2.5rem;
	margin: .8rem 0;
}
h3 {
	font-size: 2rem;
	margin: .6rem 0;
}
h4 {
	font-size: 1.5rem;
	margin: .4rem 0;
}
h5 {
	font-size: 1rem;
}

div.separator-h-x1 {
	margin: 1rem 0;
}
div.separator-h-x2 {
	margin: 2rem 0;
}
div.separator-h-x3 {
	margin: 3rem 0;
}

div.error-msg {
	background: #e74c3c;
	border: 1px solid #c0392b;
	color: #ffffff;
	font-weight: 700;
	padding: 1rem;
	width: 50%;
	margin: 2rem auto;
}
div.error-msg > span {
	display: block;
}

div.clear {
	clear: both;
}

/* Pages transition */
.v-enter-active, .v-leave-active {
  transition: opacity .3s ease;
}
.v-enter, .v-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
  display: none;
}
.v-enter-active {
  display: block;
}
.v-leave {
	display: none;
}
.v-enter-to, .v-leave /* .fade-leave-active in <2.1.8 */ {
  opacity: 1;
}

/**
 *
 * Form
 *
 */
form {
	margin: 2rem 0;
	padding: 0;
}
form label {
	display: block;
	font-weight: 700;
	margin: .4rem 0;
	width: 100%;
}
form input, form textarea, form select {
	width: 100%;
}
form input[type="text"], form input[type="email"], form input[type="password"] {
	border: 1px solid #000000;
	background: #ffffff;
	outline: none;
	box-shadow: none;
	padding: .5rem;
	font-size: 1.2rem;
	transition: all .2s;
}
form input[type="text"]:focus, form input[type="email"]:focus, form input[type="password"]:focus {
	border: 1px dashed #000000;
}
form button[type="submit"] {
	float: right;
}

/**
 *
 * Header
 *
 */
body > #app > header {
	overflow: hidden;
	height: 5rem;
	line-height: 5rem;
	padding: 0 5%;
	border-bottom: 4px solid #000000;
	margin-bottom: 2rem;
}
body > #app > header:after {
	content: '';
	display: block;
	clear: both;
}
body > #app > header > h1 {
	margin: 0;
	float: left;
	font-family: 'futura', 'georgia', 'helvetica', 'sans-serif'
	font-weight: 700;
	font-size: 2.5rem;
}
body > #app > header > h1 a {
	color: #000000;
	text-decoration: none;
}
body > #app > header > aside {
	float: left;
	background: #28ac63;
	margin-left: 5%;
	color: #ffffff;
	padding: 0 .5rem;
}

/* Nav */
body > #app > header > nav {
	float: right;
}
body > #app > header > nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
body > #app > header > nav ul li {
	margin-left: 1rem;
	float: left;
}
body > #app > header > nav ul li a {
	color: #000000;
	font-weight: 700;
	text-decoration: none;
	transition: all .2s;
	padding: .2rem;
}
body > #app > header > nav ul li a:hover {
	color: #ffffff;
	background: #000000;
}

body > #app > footer {
	height: 4rem;
	background: #000000;
}