<template>
  <layout>
    <section class="blockly-container">
      <span v-on:click="compileBlockly">
        <my-button type="button" value="Save"></my-button>
      </span>
      <span v-on:click="testBrawl">
        <my-button type="button" value="Trial"></my-button>
      </span>
      <section id="block">
        <div v-bind:id="id" style="position: absolute;"></div>
        <blockly-xml></blockly-xml>
      </section>
    </section>
  </layout>
</template>

<script>
  /*!
   * Brick Brawls Front-end
   * 2016 laudeon <audeon.louis@gmail.com>
   * MIT Licensed
   */

  import Layout from './../utils/Layout'
  import BlocklyXml from './../utils/BlocklyXML'
  import Button from './../utils/Button'
  import BlocklyMixin from './../../blockly/blockly-mixin'
  import ResourceMixin from './../../resource/resource-mixin'

  export default {
    props: {
      id: {
        type: String,
        default: 'google-block'
      }
    },
    data () {
      return {
        user: {},
        errors: null
      }
    },
    mounted () {
      this.user = this.$parent.user
      this.initBlockly(this.user)
      this.restoreBlockly(this.$parent.user.ai.xml)
    },
    mixins: [BlocklyMixin, ResourceMixin],
    components: {
      Layout,
      BlocklyXml,
      Button
    }
  }
</script>

<style scoped>
  .blockly-container {
    height: 100%;
  }
  #block {
    min-height: calc(100% - 4rem);
  }
  .blocklyTreeRow:hover {
    cursor: pointer;
  }
  .blocklyTreeLabel:hover {
    cursor: pointer;
  }
  body > #app > section.view-layout {
    height: calc(100% - 80px - 2rem - 4rem);
    padding: 0 5%;
  }
</style>