<template scope="props">
  <layout>
    <div class="error-msg" v-if="errors">
      <span v-for="error in errors">{{ error }}</span>
    </div>

    <h1 v-if="!brawl">Find your enemy</h1>
    <h1 v-if="brawl">Brawl!</h1>
    
    <ul v-if="!brawl">
      <li v-for="enemy in enemies">
        <h3>{{ enemy.username }}</h3>
        Brick level <b>{{ enemy.brick.level }}</b><br>
        <span v-on:click="fight(enemy)">
          <my-button value="fight!" class="btn btn-sm"></my-button>
        </span>
      </li>
    </ul>

    <h2 v-if="brawl">You {{ this.$parent.user.loose }}</h2>
    <div v-if="brawl">Details of round {{ currentRound }}</div>
    <span v-on:click="prevRound()" v-if="brawl">
      <my-button value="Prev Round"></my-button>
    </span>
    <span v-on:click="nextRound()" v-if="brawl">
      <my-button value="Next Round"></my-button>
    </span>

    <div class="clearfix"></div>

    <section id="right" v-if="brawl">
        <h3>Enemy actions</h3>
        <div v-if="action.player" v-for="action in brawl[currentRound]">
          <b>{{ action.action }}</b> - <b>{{ action.actionpoints }}</b> action points left - <b>{{ action.lifepoints }}</b> life points left
        </div>
    </section>
    <section id="left" v-if="brawl">
        <h3>Your actions</h3>
        <div v-if="!action.player" v-for="action in brawl[currentRound]">
          <b>{{ action.action }}</b> - <b>{{ action.actionpoints }}</b> action points left - <b>{{ action.lifepoints }}</b> life points left
        </div>
    </section>
  </layout>
</template>

<script>
  import Layout from './../utils/Layout'
  import List from './../utils/List'
  import Button from './../utils/Button'
  import ResourceMixin from './../../resource/resource-mixin'

  export default {
    data () {
      return {
        enemies: [],
        brawl: false,
        currentRound: 0,
        looser: null,
        winner: null,
        enemy: null,
        errors: null
      }
    },
    created () {
      this.getResource('api/users')
        .then(res => {
          this.enemies = res.users.filter((enemy) => enemy._id !== this.$parent.user._id)
        })
        .catch(err => {
          this.errors = err.body.message.map(elem => elem.message || elem)
        })
    },
    methods: {
      fight (enemy) {
        this.enemy = enemy
        this.getResource('api/brawl/' + this.enemy._id)
        .then(res => {
          this.brawl = res
          let looserNumPlayer = this.brawl[this.brawl.length - 1][this.brawl[this.brawl.length - 1].length - 1].player
          if (looserNumPlayer !== 0 && looserNumPlayer !== 1) {
            this.enemy.loose = 'tie game'
          } else {
            this.enemy.loose = looserNumPlayer ? 'loose' : 'win'
            this.$parent.user.loose = looserNumPlayer ? 'win' : 'loose'
          }
        })
        .catch(err => {
          this.errors = err.body.message.map(elem => elem.message || elem)
        })
      },
      nextRound () {
        if (this.brawl[(this.currentRound + 1)]) {
          this.currentRound = this.currentRound + 1
        }
      },
      prevRound () {
        if (this.brawl[(this.currentRound - 1)]) {
          this.currentRound = this.currentRound - 1
        }
      }
    },
    mixins: [ResourceMixin],
    components: {
      Layout,
      List,
      Button
    }
  }
</script>

<style scoped>
  section#right {
    float: right;
    width: 49%;
  }
  section#left {
    float: left;
    width: 49%;
  }
</style>