<template>
  <layout>
    <h1>Oops, an error 401 occurred...</h1>
    <p>You are unauthorize to view the expected resource</p>
  </layout>
</template>

<script>
  /*!
   * Brick Brawls Front-end
   * 2016 laudeon <audeon.louis@gmail.com>
   * MIT Licensed
   */
  import Layout from '../utils/Layout'

  export default {
    components: {
      Layout
    }
  }
</script>