<template>
  <layout>
    <h1>Oops, an error occurred...</h1>
  </layout>
</template>

<script>
  /*!
   * Brick Brawls Front-end
   * 2016 laudeon <audeon.louis@gmail.com>
   * MIT Licensed
   */
  import Layout from '../utils/Layout'

  export default {
    components: {
      Layout
    }
  }
</script>