<template>
  <layout>
    <h1></h1>
    <p v-if="$parent.isAuth()">Hello {{ $parent.user.username }}</p>
  </layout>
</template>

<script>
  import Layout from './../utils/Layout'

  export default {
    created () {
      // console.log(this.$parent.$options.methods.getToken())
    },
    components: {
      Layout
    }
  }
</script>