<template>
  <layout>
    <div class="error-msg" v-if="errors">
      <span v-for="error in errors">{{ error }}</span>
    </div>

    <section class="brick-info">
      <h1>Your brick</h1>

      <span v-on:click="editing=!editing">
        <my-button v-if="!editing" type="button" value="Edit" class="btn btn-default btn-sm"></my-button>
      </span>
      <span v-on:click="editing=!editing">
        <my-button v-if="editing" type="button" value="x" class="btn btn-default btn-sm"></my-button>
      </span>

      <list class="list-brick" :items="user.brick" :excludedItems="['_id', 'armors', 'weapons']" :displaySubKey="false" v-if="!editing"></list>

      <section v-if="!editing">
        <h3>Your brick equipments</h3>

        <h4>Weapons</h4>

        <ul>
          <li v-for="weapon in user.brick.weapons">
            <b>name</b> {{ weapon.name }} <br>
            <b>range</b> {{ weapon.range }} <br>
            <b>dammages</b> {{ weapon.deg }} <br>
            <b>action points cost</b> {{ weapon.apCost }} <br>
            <b>precision</b> {{ weapon.precision }} <br>
          </li>
        </ul>

        <h4>Armors</h4>

        <ul>
          <li v-for="armor in user.brick.armors">
            <b>name</b> {{ armor.name }} <br>
            <b>defense</b> {{ armor.def }} <br>
          </li>
        </ul>

      </section class="equipments">

      <form v-if="editing" v-on:submit.prevent="edit">
        <label for="brickname">Brick name</label>
        <input v-model="brickname" type="text" name="brickname" id="brickname">
        <br>
        <my-button type="submit" value="ok" class="btn btn-inverse"></my-button>
      </form>
    </section>

    <section class="user-info">
      <h1>You</h1>

      <span v-on:click="profileEditing=!profileEditing">
        <my-button v-if="!profileEditing" type="button" value="Edit" class="btn btn-default btn-sm"></my-button>
      </span>
      <span v-on:click="removeAccount">
        <my-button v-if="!profileEditing" type="button" value="Remove my account" class="btn btn-default btn-sm"></my-button>
      </span>
      <span v-on:click="profileEditing=!profileEditing">
        <my-button v-if="profileEditing" type="button" value="x" class="btn btn-default btn-sm"></my-button>
      </span>

      <list class="list-user" :items="user" :excludedItems="['_id', 'updatedAt', 'createdAt', 'ai', 'brick', '__v', 'password', 'brawls']" v-if="!profileEditing"></list>

      <form v-if="profileEditing" v-on:submit.prevent="edit">
        <label for="username">Username</label>
        <input v-model="username" type="text" name="username" id="username">
        <label for="email">Email</label>
        <input v-model="email" type="text" name="email" id="email">
        <br>
        <my-button type="submit" value="ok" class="btn btn-inverse"></my-button>
      </form>
    </section>
    <div class="clear"></div>
  </layout>
</template>

<script>
  /*!
   * Brick Brawls Front-end
   * 2016 laudeon <audeon.louis@gmail.com>
   * MIT Licensed
   */
  import Layout from './../utils/Layout'
  import List from './../utils/List'
  import Button from './../utils/Button'
  import ResourceMixin from './../../resource/resource-mixin'

  export default {
    data () {
      return {
        user: this.$parent.user,
        editing: false,
        profileEditing: false,
        brickname: this.$parent.user.brick.name,
        username: this.$parent.user.username,
        email: this.$parent.user.email,
        errors: null
      }
    },
    watch: {
      brickname () {
        this.user.brick.name = this.brickname
      },
      email () {
        this.user.email = this.email
      },
      username () {
        this.user.username = this.username
      },
      user () {
        this.brickname = this.user.brick.name
        this.username = this.user.username
        this.email = this.user.email
        this.$parent.user = this.user
      }
    },
    methods: {
      edit () {
        this.putResource('api/users/' + this.$parent.user._id, this.user)
          .then(res => {
            this.user = res.user
            this.editing = false
            this.profileEditing = false
          })
          .catch(err => {
            this.errors = err.body.message.map(elem => elem.message || elem)
          })
      },
      removeAccount () {
        if (window.confirm('sure?')) {
          this.deleteResource('api/users/' + this.$parent.user._id)
            .then(res => this.$parent.signout())
            .catch(err => {
              this.errors = err.body.message.map(elem => elem.message || elem)
            })
        }
      }
    },
    mixins: [ResourceMixin],
    components: {
      Layout,
      List,
      Button
    }
  }
</script>

<style>
  section.brick-info, section.user-info {
    float: left;
    width: 50%;
  }
  ul.list-brick, ul.list-user, ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul.list-brick > li, ul.list-user > li {
    display: inline-block;
    width: 33.2%;
    padding: .5rem;
    margin: .5rem 0;
    border-left: 2px solid black;
    border-right: 10px solid white;
    background: #eeeeee;
  }
  ul.list-brick > li .list-key, ul.list-user > li .list-key {
    font-weight: 700;
  }
  ul.list-brick ul.sublist h1 {
    font-size: 1rem;
  }
  ul.list-brick > li > ul.sublist > li {
    display: block;
  }
</style>