<template>
  <layout>
    <div class="error-msg" v-if="errors">
      <span v-for="error in errors">{{ error }}</span>
    </div>

    <form v-on:submit.prevent="signup">
      <label for="username">Username</label>
      <input v-model="username" type="text" id="username">

      <label for="email">Email</label>
      <input v-model="email" type="text" id="email">

      <label for="brickname">Brick name</label>
      <input v-model="brickname" type="text" id="brickname">

      <label for="password">Password</label>
      <input v-model="password" type="password" id="password">

      <label for="passwordConfirm">Confirm password</label>
      <input v-model="passwordConfirm" type="password" id="passwordConfirm">
      <br>
      <my-button type="submit" value="ok" class="btn btn-inverse"></my-button>
    </form>
  </layout>
</template>

<script>
  import Layout from './../utils/Layout'
  import Button from './../utils/Button'
  import ResourceMixin from './../../resource/resource-mixin'

  export default {
    data () {
      return {
        username: '',
        email: '',
        brickname: '',
        password: '',
        passwordConfirm: '',
        errors: null
      }
    },
    methods: {
      signup () {
        this.postResource('users/signup', { username: this.username, password: this.password, passwordConfirm: this.passwordConfirm, email: this.email, brick: { name: this.brickname } })
            .then(res => {
              this.$router.push('/signin')
            })
            .catch(err => {
              this.errors = err.body.message.map(elem => elem.message || elem)
            })
      }
    },
    mixins: [ResourceMixin],
    components: {
      Layout,
      Button
    }
  }
</script>

<style scoped>
    form {
    width: 50%;
    min-width: 280px;
    margin: 0 auto;
  }
</style>
