<template>
  <layout>
    <div class="error-msg" v-if="errors">
      <span v-for="error in errors">{{ error }}</span>
    </div>

    <form v-on:submit.prevent="signin">
      <label for="username">Username</label>
      <input v-model="username" type="text" name="username" id="username">
      <label for="password">Password</label>
      <input v-model="password" type="password" name="password" id="password">
      <br>
      <my-button type="submit" value="ok" class="btn btn-inverse"></my-button>
    </form>
  </layout>
</template>

<script>
  import Layout from './../utils/Layout'
  import Button from './../utils/Button'
  import ResourceMixin from './../../resource/resource-mixin'

  export default {
    data () {
      return {
        username: '',
        password: '',
        errors: null
      }
    },
    methods: {
      signin () {
        this.postResource('users/signin', { username: this.username, password: this.password })
        .then(res => {
          this.$localStorage.set('user', res.user)
          this.$localStorage.set('token', res.token)
          this.$parent.user = res.user
          this.$parent.token = res.token
          this.$router.push('/')
        })
        .catch(err => {
          this.errors = err.body.message.map(elem => elem.message || elem)
        })
      }
    },
    mixins: [ResourceMixin],
    components: {
      Layout,
      Button
    }
  }
</script>

<style scoped>
  form {
    width: 50%;
    min-width: 280px;
    margin: 0 auto;
  }
</style>
