<template>
  <div>
    signing out...
  </div>
</template>

<script>
  /*!
   * Brick Brawls Front-end
   * 2016 laudeon <audeon.louis@gmail.com>
   * MIT Licensed
   */
  export default {
    mounted () {
      this.$parent.signout()
    }
  }
</script>