<template>
  <layout>
    <div class="error-msg" v-if="errors">
      <span v-for="error in errors">{{ error }}</span>
    </div>

    <h1>Weapons</h1>
    <list :items="weapons"></list>

    <h1>Armors</h1>
    <list :items="armors"></list>
  </layout>
</template>

<script>
  import Layout from './../utils/Layout'
  import List from './../utils/List'
  import ResourceMixin from './../../resource/resource-mixin'

  export default {
    data () {
      return {
        weapons: [],
        armors: [],
        errors: null
      }
    },
    created () {
      this
        .getResource('api/store')
        .then(res => {
          this.weapons = res.weapons
          this.armors = res.armors
        })
        .catch(err => {
          this.errors = err.body.message.map(elem => elem.message || elem)
        })
    },
    mixins: [ResourceMixin],
    components: {
      Layout,
      List
    }
  }
</script>