<template>
  <button v-bind:class="classValue" v-bind:id="idValue" v-bind:type="typeValue">{{ value }}</button>
</template>

<script>
  /*!
  * Brick Brawls Front-end
  * 2016 laudeon <audeon.louis@gmail.com>
  * MIT Licensed
  */

  export default {
    props: {
      classValue: {
        type: String,
        default: 'btn btn-default'
      },
      idValue: {
        type: String,
        default: ''
      },
      typeValue: {
        type: String,
        default: 'submit'
      },
      value: {
        type: String,
        default: 'submit'
      }
    }
  }
</script>

<style scoped>
  button.btn {
    margin: 1rem 0;
    padding: .5rem;
    font-size: 1.1rem;
    transition: all .2s;
  }
  button.btn.btn-sm {
    margin: .5rem 0;
    font-size: .8rem;
    padding: .3rem;
  }
  button.btn.btn-lg {
    font-size: 1.4rem;
    padding: .8rem;
  }
  button.btn.btn-default, button.btn.btn-default:focus, button.btn.btn-default:visited {
    background: #000000;
    color: #ffffff;
    border: 1px solid transparent;
    outline: none;
  }
  button.btn.btn-default:hover {
    background: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    cursor: pointer;
  }
  button.btn.btn-inverse, button.btn.btn-inverse:focus, button.btn.btn-inverse:visited {
    background: #ffffff;
    color: #000000;
    border: 1px solid #000000;
  }
  button.btn.btn-inverse:hover {
    background: #000000;
    color: #ffffff;
    border: 1px solid transparent;
    cursor: pointer;
  }
</style>