<template>
  <section v-bind:class="classValue">
    <slot></slot>
  </section>
</template>

<script>
  /*!
   * Brick Brawls Front-end
   * 2016 laudeon <audeon.louis@gmail.com>
   * MIT Licensed
   */

  export default {
    props: {
      classValue: {
        type: String,
        default: 'view-layout'
      }
    }
  }
</script>

<style>
  html, body {
    height: 100%;
  }
  body > #app {
    height: 100%;
  }
  body > #app > section.view-layout {
    min-height: calc(100% - 80px - 2rem - 4rem);
    padding: 0 5%;
  }
</style>