<template>
  <ul v-bind:class="listClass" v-bind:id="listId">
    <li v-bind:class="listItemClass" v-bind:id="listItemId" v-for="(item, key) in items" v-if="(!Array.isArray(item) || (Array.isArray(item) && item.length > 0)) && isNotExcluded(key)">
      <span v-if="!Array.isArray(item)">
        <span class="list-key" v-if="displayKey">{{ key }}</span>&nbsp;&nbsp;
        <span class="list-item">{{ item }}</span>
      </span>
      <ul class="sublist" v-if="Array.isArray(item)">
        <h1>{{ key }}</h1>
        <li v-for="(subitem, subkey) in item" v-if="isNotExcluded(subkey)">
          <span class="sublist-key" v-if="displaySubKey">{{ subkey }}</span>&nbsp;&nbsp;
          <span class="sublist-item">{{ subitem }}</span>
        </li>
      </ul>
      <slot text="item"></slot>
    </li>
  </ul>
</template>

<script>
  /*!
  * Brick Brawls Front-end
  * 2016 laudeon <audeon.louis@gmail.com>
  * MIT Licensed
  */

  export default {
    props: {
      item: {},
      displayKey: {
        type: Boolean,
        default: true
      },
      displaySubKey: {
        type: Boolean,
        default: true
      },
      items: {
        default () {
          return {}
        }
      },
      excludedItems: {
        default () {
          return []
        }
      },
      listClass: {
        type: String,
        default: 'list'
      },
      listId: {
        type: String,
        default: ''
      },
      listItemClass: {
        type: String,
        default: 'list-item-class'
      },
      listItemId: {
        type: String,
        default: ''
      }
    },
    methods: {
      isNotExcluded (item) {
        return this.excludedItems.indexOf(item) === -1
      }
    }
  }
</script>